@font-face {
    font-family: 'AndaleMono'; /*a name to be used later*/
    src: url('../../assets/fonts/Bluecurve-Regular.ttf'); /*URL to font*/
    font-weight: 400;
}
@font-face {
    font-family: 'AndaleMono'; /*a name to be used later*/
    src: url('../../assets/fonts/Bluecurve-Light.ttf'); /*URL to font*/
    font-weight: 300;
}
@font-face {
    font-family: 'AndaleMono'; /*a name to be used later*/
    src: url('../../assets/fonts/Bluecurve-Bold.ttf'); /*URL to font*/
    font-weight: 700;
}